/* Reseteo de márgenes y relleno, y ajuste del box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el body */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #A9C5A0; /* Color principal */
    background: linear-gradient(135deg, #A9C5A0, #1f3825);
    background-attachment: fixed; 
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    overflow-x: hidden; /* Evita el scroll horizontal */
    
}

/* Estilos específicos para login */
.login-body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #A9C5A0, #1f3825);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-container h2 {
    margin-bottom: 30px;
    color: #3C574F;
    font-size: 1.8em;
}

.login-container .logo {
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-bottom: 15px;
}

/* Estilos para el formulario */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="email"], 
.form-group input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #BCC8B3;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Estilos específicos para el campo de contraseña */
.password-field {
    position: relative;
}

/* Ajustes para el campo de contraseña en ambos formularios */
.password-field input[type="password"],
.password-field input[type="text"] {
    width: 100%;
    padding: 15px 40px 15px 15px; /* Espacio suficiente para el icono del ojo */
    border: 1px solid #BCC8B3;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Estilos para el ícono de la contraseña */
.password-field .toggle-password {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical */
    right: 15px; /* Ajusta la posición horizontal */
    transform: translateY(-50%); /* Centra verticalmente */
    cursor: pointer;
    font-size: 1.2em;
    color: #BCC8B3;
    z-index: 10; /* Asegura que el icono esté encima del campo de texto */
}

/* Ajustes específicos para el formulario de login */
.login-body .password-field .toggle-password {
    top: 65%; /* Ajuste adicional si es necesario */
}

/* Ajustes específicos para el formulario de registro */
.register-body .password-field .toggle-password {
    top: 50%; /* Ajuste adicional si es necesario */
}

/* Estilos específicos para el campo de confirmación de contraseña */
.confirm-password-field .toggle-password {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical */
    right: 15px; /* Ajusta la posición horizontal */
    transform: translateY(-50%); /* Centra verticalmente */
    cursor: pointer;
    font-size: 1.2em;
    color: #BCC8B3;
    z-index: 10; /* Asegura que el icono esté encima del campo de texto */
}
.login-container button {
    width: 100%;
    padding: 15px;
    background-color: #769F80;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #5C8268;
}

#error-message {
    color: #D9534F;
    display: none;
    margin-top: 15px;
}

/* Estilos para el formulario de registro */
.register-body {
    background-color: #A9C5A0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: auto; /* Centra el contenedor horizontalmente */
}

.register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.register-icon {
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 50px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.register-label {
    display: block;
    margin-bottom: 5px;
}

.register-input, .register-select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos específicos para el campo de confirmación de contraseña */
.confirm-password-field {
    position: relative;
}

.confirm-password-field input[type="password"],
.confirm-password-field input[type="text"] {
    width: 100%;
    padding: 15px 40px 15px 15px; /* Espacio suficiente para el icono del ojo */
    border: 1px solid #BCC8B3;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Estilos para el ícono dentro del campo de texto de confirmación */
.confirm-password-field .toggle-password {
    position: absolute;
    top: 50%;
    right: 15px; /* Ajusta la posición del icono */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #BCC8B3;
    z-index: 10; /* Asegura que el icono esté encima del campo de texto */
}

.register-submit {
    background-color: #5C8268;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.register-submit:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

/* Estilos para el header del foro */
.forum-header {
    background-color: #A9C5A0; /* Color principal */
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
}

/* Logo en el centro del header */
.logo-container {
    flex: 1;
    text-align: center;
}

.header-logo {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

/* Menú desplegable (rayas) a la derecha */
.menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Asegúrate de que el contenido principal esté bien posicionado */
main {
    padding: 20px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    text-align: center;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body-text {
    margin-bottom: 20px;
}

.error-message-register {
    color: red;
}

.success-message {
    color: green;
}

.modal-button {
    background-color: #4CAF50; 
    color: white; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #45a049;
}