.footer-toolbar-simple {
    --background: #A9C5A0; /* Color de fondo */
    text-align: center;
    padding: 15px;
  }
  
  .footer-text {
    color: #2b2727;
    font-size: 20px;
  }

  @media (max-width: 480px) {
    .footer-toolbar-simple {
        padding: 8px; /* Reducir aún más el padding */
    }

    .footer-text {
        font-size: 14px; /* Reducir el tamaño de la fuente para pantallas muy pequeñas */
    }
}