/* src/assets/Experts.css */

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experts-body{
    --background: #F5F5DC;
}

h1 {
  text-align: center ;
  font-size: 2.5em;
  font-weight: bold;
  color: #5C8268; /* Color del título */
  margin-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase; /* Mayúsculas para más impacto */
}



  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-right span {
    font-size: 1.8em;
    font-weight: 600;
    color: #4A6651;
    text-align: center;
  }
  
  .sort-button {
    width: 70px; 
    height: 10px; 
    padding: 0; 
    border-radius: 50%;
    --icon-size: 0.1px;
    
    margin-left: 20px;
    font-size: 1.2em;
    --background: #A9C5A0;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .sort-button:hover {
    --background: #5C8268;
  }
  
  .experts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .forum-item {
    display: flex;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0; /* Ajusta el margen superior e inferior */
    width: 140%;
    padding: 20px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .forum-item:hover {
    transform: scale(1.05); /* Aumenta el tamaño del recuadro */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el ratón */
}
  
  .forum-image {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px;
    margin-right: 15px;
  }
  
  .forum-text {
    flex: 1;
  }
  
  .forum-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #3C574F; /* Ajusta el color del título según tu paleta de colores */
    margin-bottom: 10px;
  }
  
  .phone-button{
    --background: #164484 !important;
    border-color: #164484 !important;
    color: white !important;
    position: absolute !important; 
    bottom:20px !important;
    right: 10px !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 8px 12px !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    font-size: 0.9em !important;
    transition: background-color 0.3s, transform 0.3s !important ;

  }

  .phone-button:hover {
    transform: scale(1.1) !important;
}

  .view-button-expert {
    padding: 10px 15px;
    --background: #5C8268;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .view-button-expert:hover {
    transform: scale(1.1);
}
  
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination-link {
  margin: 0 5px;
  --background: grey;
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 50px;
}

.pagination-link:hover {
  --background: #2f3136;
  color: white;
}

.pagination-link.active {
  --background: #585a59;
  color: white;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out; /* Animación de entrada */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  background: linear-gradient(to bottom, #ffffff, #f0f4f7); /* Fondo degradado */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra */
  width: 95%;
  max-width: 650px;
  position: relative;
  animation: slideUp 0.4s ease-out; /* Animación al aparecer */
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  font-size: 24px;
  color: #333; /* Color oscuro */
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.close-button:hover {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño */
  color: #e63946; /* Color más intenso */
}

.expert-details h2 {
  margin: 0 0 10px;
  font-size: 1.8rem;
  color: #2b2d42; /* Azul oscuro */
  font-weight: bold;
  text-align: center;
}

.expert-details p {
  font-size: 1rem;
  margin: 5px 0;
  color: #333; /* Texto en gris oscuro */
  line-height: 1.5;
  font-weight: bold;
}

.expert-details strong {
  color: #5C8268; /* Azul moderno */
}

.expert-details {
  text-align: left;
  margin-top: 20px;
}

.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.modal-footer button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #5C8268; /* Azul moderno */
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.modal-footer button:hover {
  background: #023e8a; /* Azul más oscuro */
  transform: scale(1.05);
}

@media (max-width: 768px) {
  /* Ajustes para el body y el contenedor principal */
  main {
    padding: 10px;
  }

  .experts-body {
    --background: #F5F5DC;
  }

  /* Ajustes para el título principal */
  h1 {
    font-size: 1.8em; /* Reducir tamaño de fuente */
    margin-bottom: 15px; /* Reducir margen inferior */
    padding-top: 10px; /* Reducir padding superior */
  }

  /* Ajustes para el header derecho */
  .header-right {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .header-right span {
    font-size: 1.4em; /* Reducir tamaño de fuente */
    text-align: left;
  }

  /* Ajustes para el botón de ordenación */
  .sort-button {
    width: 60px;
    height: 30px;
    font-size: 1.1em; /* Reducir tamaño de fuente */
    margin-left: 10px;
    padding: 5px;
  }

  /* Ajustes para el contenedor de los foros */
  .experts-content {
    width: 100%;
    max-width: 100%;
  }

  /* Ajustes para los elementos del foro */
  .forum-item {
    width: 100%;
    padding: 15px; /* Reducir padding */
    margin: 10px 0;
  }

  .forum-image {
    width: 80px; /* Reducir tamaño de la imagen */
    height: 80px;
    margin-right: 10px;
  }

  /* Ajustes para el título del foro */
  .forum-title {
    font-size: 1.1em; /* Reducir tamaño de fuente */
  }

  /* Ajustes para los botones */
  .phone-button {
    padding: 6px 10px;
    font-size: 0.8em;
    position: relative; 
    bottom: 0;
    right: 0;
  }

  .view-button-expert {
    padding: 8px 12px;
    font-size: 0.9em; /* Reducir tamaño de la fuente */
  }

  /* Ajustes para la paginación */
  .pagination-link {
    padding: 8px 12px;
    font-size: 0.9em; /* Reducir tamaño de la fuente */
    margin: 5px;
  }

  /* Ajustes para el modal */
  .custom-modal {
    padding: 20px;
  }

  .modal-content {
    width: 95%;
    max-width: 100%;
    padding: 20px;
  }

  .close-button {
    font-size: 20px;
  }

  .expert-details h2 {
    font-size: 1.5rem; /* Reducir tamaño de fuente */
  }

  .expert-details p {
    font-size: 0.9rem; /* Reducir tamaño de fuente */
  }

  .modal-footer button {
    font-size: 0.9rem; /* Reducir tamaño de fuente */
  }
}
