
/* Estilos generales para el body */
.notification-body {
    align-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background: #F5F5DC;
}


/* Asegúrate de que el contenido principal esté bien posicionado */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Paginación */
.pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination-link {
    margin: 0 5px;
    --background: grey;
    color: white;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 50px;
  }
  
  .pagination-link:hover {
    --background: #2f3136;
    color: white;
  }
  
  .pagination-link.active {
    --background: #585a59;
    color: white;
  }





/* Responsividad */
@media (max-width: 768px) {
    .expert-item {
        flex-direction: column;
        text-align: center;
    }

    .expert-image {
        margin-bottom: 15px;
    }

    .menu-toggle {
        right: 10px;
    }
}


.notification-container {
    max-width: 600px;
    margin: 0 auto;
}
.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification-header h1 {
    font-size: 24px;
}
.notification-bell {
    position: relative !important;
    font-size: 24px !important;
}

.notification-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 110px;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
}
.notification-title {
    font-size: 18px;
    margin: 10px;
}
.notification-content {
    font-size: 14px;
    color: #666;
}
.notification-button {
    display: inline-block;
    text-align: center;
    width: 15%;
    margin-top: 5px;
    margin-left: 25px;
    padding: 5px;
    --background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    left: 5px;
}
.close-btn {
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
}
.close-btn:hover {
    color: #888;
}
.notification-status {
    text-align: right;
    font-weight: bold;
    color: #4CAF50;
    position: absolute;
    bottom: 4px;
    right: 10px;
}
.notification-status.read {
    color: #4CAF50;
}

/* Estilos para la sección de actividad */


.notifications-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.notification-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.notification-icon {
    font-size: 30px;
    margin-right: 15px;
}

.notification-content h2 {
    font-size: 18px;
    margin: 0;
}

.notification-content p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}

  
  .notification-count {
    position: absolute !important;
    top: -8px !important;
    right: -8px !important;
    background-color: red !important;
    color: white !important;
    border-radius: 50% !important;
    padding: 2px 6px !important;
    font-size: 12px !important;
  }